{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Дисциплины</h1>
    <hr>
    <section>
    {{range .Course}}
        <h2>{{.Name}}</h2>
        <div class="courses">
            <div class="content-courses">{{.Description}}</div>
            <div class="avatar-courses"><img src="{{.Icon}}" alt=""></div>
        </div>
        <a href="/get-course/{{.Id}}"><button>Подробнее</button></a>
    {{else}}
        список пуст
    {{end}}
</section>
</main>
{{template "footer"}}
{{end}}