{{define "menu"}}
</head>
<body>
<header>
    <div class="header-content">
        <h1 class="title">TestFlow</h1>
        <p>Проект на языке Go для проведения тестирования</p>
    </div>
</header>

<div id="menu">
    <a href="/">Главная</a>
    <a href="/about">О проекте</a>
    <a href="/author">Авторы</a>
    <a href="/courses">Дисциплины</a>
    <a href="/admin">Админ-панель</a>
    <a href="#" id="entry">Войти</a>
    <a href="/create-user" id="register">Регистрация</a>
    <form action="/login-pass">
        <input type="hidden" name="login" id="login" placeholder="Логин">
        <input type="hidden" name="pass" id="pass" placeholder="Пароль">
    </form>
</div>
{{end}}